<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--<div class="newsfeed-container">-->
<!--  <div class="post-header row mx-3 mt-3">-->
<!--    <div class="post-profilepic-holder">-->
<!--      <img src="https://themesground.com/modern/demo3/HTML/img/profileimg.png" class="picture rounded-circle">-->
<!--    </div>-->
<!--    <div class="col pl-1">-->
<!--      <div class="post-user-name"><a href="#">William Smith</a></div>-->
<!--      <div class="info-text">6 hours ago</div>-->
<!--    </div>-->
<!--    <div class="dropleft">-->
<!--      <i class="fas fa-ellipsis-h actions" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>-->

<!--      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
<!--        <a class="dropdown-item" href="#">Action</a>-->
<!--        <a class="dropdown-item" href="#">Another action</a>-->
<!--        <a class="dropdown-item" href="#">Something else here</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="post-body mx-3">-->
<!--    Lorem Ipsum is simply dummy text of the printing and typesetting industry.-->

<!--    <img src="https://wallpaperplay.com/walls/full/1/b/1/289383.jpg" class="img-fluid mt-2">-->
<!--  </div>-->
<!--</div>-->

<!--<div class="newsfeed-container">-->
<!--  <div class="post-header row mx-3 mt-3">-->
<!--    <div class="post-profilepic-holder">-->
<!--      <img src="https://themesground.com/modern/demo3/HTML/img/profileimg.png" class="picture rounded-circle">-->
<!--    </div>-->
<!--    <div class="col pl-1">-->
<!--      <div class="post-user-name"><a href="#">William Smith</a></div>-->
<!--      <div class="info-text">6 hours ago</div>-->
<!--    </div>-->
<!--    <div class="dropleft">-->
<!--      <i class="fas fa-ellipsis-h actions" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>-->

<!--      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
<!--        <a class="dropdown-item" href="#">Action</a>-->
<!--        <a class="dropdown-item" href="#">Another action</a>-->
<!--        <a class="dropdown-item" href="#">Something else here</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="post-body mx-3">-->
<!--    Lorem Ipsum is simply dummy text of the printing and typesetting industry.-->
<!--    <iframe class="mt-2" width="560" height="315" src="https://www.youtube.com/embed/2oXpBK2iNQU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--  </div>-->
<!--</div>-->


</body>
</html>
