html, body, .container-fluid {
  height: 100% !important;
}

.content-holder {
  height: calc(100% - 56px);
  margin: 0 !important;
}

.container-fluid {
  padding: 0 !important;
}

.navbar {
  background: #10508d;
}
.info-text {
  font-size: 12px;
  color: #5f5f5f;
}

.sidebar-holder {
  width: 240px !important;
  background: #0d407f;
}
#sidebar {
  color: white;
  width: 240px;
  position: relative;
  margin: 0;
}

.sidebar-holder aside {
  width: 240px !important;
}

#sidebar .profile-picture {
  max-width: 120px !important;
}

#sidebar #menu-list .sidenav i {
  margin-right: 20px;
}

#sidebar .sidenav .list-group-item {
  border: 0 !important;
}

#menu-list {
  margin-left: 28px !important;
}

.body-content {
  background: #FFFFFF;
}
.chat-holder {
  width: 300px;
  height: 100%;
  background: #F5F6F7;
}
.chat-holder .chatbar .list-group-item {
  border: 0 !important;
}

.chat-picture, .post-comment .picture, .comments .picture {
  width: 32px;
}

.post-comment textarea {
  min-height: 32px;
  max-height: 120px;
  width: 100%;
}
.chatbar span.user-name {
  width: 180px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  vertical-align: middle;
}

.chatbar i.online {
  vertical-align: middle;
  color: #24d624;
  font-size: 10px;
  margin-left: 26px;
}

.feedarea {
  height: 100% !important;
}

.newsfeed-container {
  width: 600px;
  border: 1px solid #eaeaea;
  margin: 20px auto;
  border-radius: 5px;
}
.composer-holder {
  margin: 0 !important;
}
#composer .chat-picture {
  float: left;
  margin: 10px;
}
#composer textarea {
  width: 100%;
  margin: 10px 10px 10px 0;
  min-height: 32px;
  max-height: 180px;
  outline: 0;
  padding: 5px 10px;
  font-size: 14px;
  border: 0;
}

#composer textarea:focus {
  border: 1px solid #f3faff !important;
}

#composer #post {
  margin: 7px 15px;
}
.composer-tools {
  background: #f4faff;
}
.composer-tools ul {
  margin: 8px 0 0 0;
}

.composer-tools i {
  cursor: pointer;
  color: #8097af;
  margin-right: 5px;
}

.post-header {
  font-size: 14px !important;
  height: 46px;
}
.post-header .picture {
  width: 40px;
}
.post-header .post-user-name {
  font-weight: bold;
}
.post-header .actions {
  cursor: pointer;
  margin-top: 6px;
}

.post-body, .user-comment {
  font-size: 14px !important;
}

.post-comment textarea {
  outline: 0;
  font-size: 14px !important;
  border-radius: 9px;
  padding-left: 10px;
  border: 1px solid #b5cdea;

}
.comments .tools a {
  font-size: 13px
}
.comments .comment-actions i, .comment-stats {
  font-size: 12px
}

.comments .meta:hover .comment-actions {
  display: block !important;
}


.user-post.ng-enter,
.user-post.ng-leave,
.user-post.ng-move {
  transition: 0.2s linear all;
}

.user-post.ng-enter,
.user-post.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.user-post.ng-enter.ng-enter-active,
.user-post.ng-move.ng-move-active {
  height: 120px;
  opacity: 1;
}

.user-post.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.user-post.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}


.empty-post.ng-leave, .empty-post.ng-move {
  transition: 0.2s linear all;
}

.empty-post.ng-enter.ng-enter-active,
.empty-post.ng-move.ng-move-active {
  height: inherit;
  opacity: 1;
}

.empty-post.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#menu-list li.active {
  background: #318eff !important;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#menu-list li {
  cursor: pointer;
}

#menu-list li:hover {
  background: rgba(68, 141, 230, 0.5) !important;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}



